@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.container{
    border: 4px solid ;
    background-color: #37323E ;
    margin-bottom: 20px;
    width: 100%;
    height: 20rem;
    border-radius: 25px;
}

.leftCont{
    height: 100%;
    width: 6rem;
    float: left;
    clear: both;
}

.rightCont{


}

.img{
    float: left;
    clear: both;
    width: 6rem;
    margin-top: 1rem;
    margin-left: 1%;
    margin-bottom: 10%;
}

.title{
    color: #DE9E36;
    font-family: 'Open Sans', sans-serif;
    margin-top: -0.01rem;
}

.text{
    color: #DE9E36;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(0.75em + 0.3vmin)
}

.textO{
    color: #DE9E36;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(0.75em + 0.3vmin);
    margin-left: 15%;
}


.btn{
    background-color: #F3ECDB;
    border: 0px;
    border-radius: 7px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    cursor: pointer;
    box-shadow: 0 6px #999;
    margin-top: 20px;
}

.btn:hover{
    background-color: #c5c0b3;
}

.btn:active{
    background-color: #c5c0b3;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}